.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;

  @include viewport--xl {
    max-width: 920px;
  }

  @include viewport--lg {
    max-width: 760px;
  }

  @include viewport--sm {
    padding: 0 20px;
  }
}
