.header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-gray;
    height: 1px;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @include viewport--md {
    flex-direction: column;
    padding: 20px 30px;
  }
}

.header__logo {
  flex-shrink: 0;
  margin-right: 170px;

  @include viewport--md {
    margin-right: auto;
  }
}
