.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @include viewport--md {
    flex-direction: column;
  }
}

.user-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.user-list__button {
  color: $color-black;

  @include viewport--md {
    display: block;
    padding: 20px 0;
    font-size: 24px;
  }
}


