$color-black:                     #000000;
$color-light-black:               #343434;
$color-gray:                      #ebebeb;
$color-yellow-white:              #fcfbf9;
$color-blue-1:                    #1a73e8;
$color-blue-2:                    #2980b9;
$color-transparent:               rgba(255, 255, 255, 0);

$font-family--roboto:             Roboto, Arial, sans-serif;

$viewport--sm:                    575px;
$viewport--md:                    767px;
$viewport--lg:                    991px;
$viewport--xl:                    1199px;
